:host {
  display: block;
}

div {
  color: var(--juntu-primary-color);
  
}

  /*-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
input[type="range"] {
  transform: rotate(270deg);
  height: 100px;
  /* outline: 0;
  border: 0; */
  border-radius: 30px;
  width: 350px;
  max-width: 100%;
  margin: 24px 0 16px;
  /* transition: box-shadow 0.5s ease-in-out; */
  overflow: hidden;
  background-color: #ddd;
  -webkit-appearance: none;
  /* pointer-events: none; */
}

input[type="range"]::-webkit-slider-runnable-track {
  /* height: 40px; */
  /* color: #444; */
  /* transition: box-shadow 0.5s ease-in-out; */
  -webkit-appearance: none;
  /* pointer-events: none; */
}

input[type="range"]::-webkit-slider-thumb {
  /* display: none; */
  position: relative;
  width: 20px;
  height: 120px;
  top: -50px;
  /* cursor: ew-resize; */
  border: none;
  background: #1597ff;
  /* background: linear-gradient(to right, black 0%,black 50%,#000000 50%,white 50%,white 100%); W3C */
  box-shadow: -320px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
  /* border-radius: 0%; */
  /* transition: box-shadow 0.5s ease-in-out; */
  -webkit-appearance: none;
  pointer-events: auto;
}
/* input[type="range"]:active::-webkit-slider-thumb {
  background: #fff;
  box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
} */
	